<!DOCTYPE html>
    <html>
        <head>
            <link rel="stylesheet" type="text/css" href="../restaurants.css"/>
            <title>Deg Stakehouse</title>
        </head>
        <body>
            <div class="container">
                <div class ="restName"><h1>Deg Stakehouse</h1></div>
                
                <div class ="itemList">
                    <!-- item 1 -->
                    <a href="../foodItems/Deg-muttonSteak.html">
                    <div class="item" >
                        <img src="../images/steak.jpg" width="120px" height="120px">
                        <h2 class="item"> Steak:</h2>
                        <h3>Deg's 10 oz mutton steak. Served with mashed potatoes and fresh seasonal vegetables.</h3>
                            <h4>Price: $12.29</h4>
                    </div></a>

                 

                </div>
            </div>
        </body>
    </html>
