body{
    background: url(images/changeAddress.jpg) center/cover no-repeat fixed;
    margin-top: auto;
}
.form-group{
    padding-bottom:15px;
}

.myform input[type = "text"]{
    padding:8px;
    width:100%;
}
.addressHeader{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 13px 20px;
    border-radius: 500px;
    font-weight: bold;
    background: orange;
    color: white;
    border: 2px solid orange;
    margin-top: 10px;
}