<!DOCTYPE html>
<html>
	<head>
        <link rel="stylesheet" type="text/css" href="general.css"/>
        <link rel="stylesheet" type="text/css" href="helpAndSupport.css"/>
        </style>
		<title>Homepage</title>
	</head>
	<body>
        <!-- For the Side bar-->
        <nav class="nav-main">
            <div class="toggleButton" onclick="slideMenu()"></div>
        </nav>
        <aside class= "nav-sidebar">
            <ul>
                <li><span>Menu</span> </li>
                <li><a href="index.html">Home</a></li>
                <li><a href="ChangeAddress.html">Change address</a></li> 
                <li><a href="helpAndSupport.html">Help and support</a></li>
                <li><a href="orderlist.html">Change order</a></li>
            </ul>
        </aside>
        <!--Side bar ends here-->
        
        <ul class="HUL">
            <li class="list pulsate"><h3>HELP CENTER</h3></li>
            <li class="list pulsate"><h3>SUPPORT REGARDING DELIVERY</h3></li>
            <li class="list pulsate"><h3>DELIVERY POLICIES</h3></li>
            <li class="list pulsate"><h3>CONTACT US</h3></li>
        </ul>
        
        
    </body>
    <script src="main.js"></script>
    
</html>