<!DOCTYPE html>
<html>
	<head>
        <link rel="stylesheet" type="text/css" href="general.css"/>
        <link rel="stylesheet" type="text/css" href="itemList.css"/>
        </style>
		<title>Homepage</title>
	</head>
	<body>
        <!-- For the Side bar-->
        <nav class="nav-main">
            <div class="toggleButton" onclick="slideMenu()"></div>
        </nav>
        <aside class= "nav-sidebar">
            <ul>
                <li><span>Menu</span> </li>
                <li><a href="index.html">Home</a></li>
                <li><a href="ChangeAddress.html">Change address</a></li> 
                <li><a href="helpAndSupport.html">Help and support</a></li>
                <li><a href="orderlist.html">Change order</a></li>
            </ul>
        </aside>
        <!--Side bar ends here-->

<h2>List of all the items on out store:</h2>

<p class="toBeSorted"><table>
  <tr>
    <th>Resturants Name</th>
    <th>Item</th>
    <th>Price</th>
  </tr>
  <tr>
    <td><a href = "EggDonalds.html">Egg Donalds</a></td>
    <td><a href="EggDonalds-poutine.html">Poutine</a></td>
    <td>$ 4.99</td>
</tr>
  <tr>
    <td><a href = "Deg.html">Deg</a></td>
    <td><a href="Deg-BeefSteak.html">Mutton Steak</a></td>
    <td>$ 30.99</td>
  </tr>
  <tr>
    <td><a href = "BurgerQueen.html">Burger Queen</a></td>
    <td><a href="hamBurger.html">Hamburger</a></td>
    <td>$ 9.99</td>
  </tr>
  <tr>
    <td><a href = "amigosPizza.html">Amigo's Pizza</a></td>
    <td><a href="AmigosPizza-pizza.html">Pizza</a></td>
    <td>$ 24.99</td>
  </tr>
  <tr>
    <td><a href = "bnw.html">BnW</a></td>
    <td><a href="bnw-sandwich.html">Sandwich</a></td>
    <td>$ 15.99</td>
  </tr>
  <tr>
    <td><a href = "BurgerQueen.html">Burger Queen</a></td>
    <td><a href="BurgerQueen-Poutine.html">Poutine</a></td>
    <td>$ 7.99</td>
  </tr>
</table></p>

    </body>
    <script src="main.js"></script>
    
</html>